* {
    font-family: poppins;
    margin: auto;
    font-weight: 600;

    
}
:root {
    --body-bg-color: #FAF7FD;
    --purple: #BB99DD;
}

 div {
    width: 300px;
    border: 3px solid #BB99DD;    
    border-radius: 4px;
    padding: 14px;
    text-align: center;
    margin: 15px auto;
    font-size: 20px;
    color:#BB99DD;
    transition: filter .3s;    
}


#user {
display: block;
text-align: center;
font-size: 16px;
color: #BB99DD;
margin-bottom: 20px;
}

#userimage {
    width: 290px;
    margin-top: 100px;
    height: 300px;
    border: 3px solid #BB99DD;
    border-radius: 50%;
    padding: 8px;
    margin-bottom: 20px;
    
}

#usricons {
    text-align: center;
    margin-top: 40px;
    display: flex;
    width: 300px;
}

div:hover {
    filter:sepia(0.8);
    cursor: pointer;
}
